# Github CODEOWNERS file

# Global code-owners for this repository
* @digicatapult/software-engineering

# Location specific code-owners
/clusters/l3-sqnc/ @mattdean-digicatapult @dblane-digicatapult @msterle
/clusters/kind-cluster/ @digicatapult/software-engineering