logLevel: info
selfAddress: 5FLSigC9HGRKVhB9FiEo4Y3koPsNmBmLJbpXg2mp1hXcS59Y
externalSqncNode:
  host: charlie-node-sqnc-node-0
  port: 9944
auth:
  clientId: 'sequence'
  publicUrlPrefix: "http://localhost:3080/auth/realms/charlie/protocol/openid-connect"
  internalUrlPrefix: "http://keycloak.keycloak.svc.cluster.local/auth/realms/charlie/protocol/openid-connect"
ingress:
  hostname: localhost
  paths:
    - path: /charlie/(v1/members(/.*)?)
      pathType: Prefix
    - path: /charlie/(v1/self(/.*)?)
      pathType: Prefix
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$1
node:
  enabled: false
postgresql:
  auth:
    password: postgres
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      namespace: monitoring
      relabelings:
        - action: replace
          sourceLabels: [namespace]
          targetLabel: kubernetes_namespace
