logLevel: info
userUri: //Charlie
externalSqncNode:
  host: charlie-node-sqnc-node-0
  port: 9944
externalSqncIpfs:
  host: charlie-ipfs-sqnc-ipfs-api
  port: 5001
externalSqncIdentity:
  host: charlie-identity-service-sqnc-identity-service
  port: 3000
auth:
  clientId: 'sequence'
  publicUrlPrefix: "http://localhost:3080/auth/realms/charlie/protocol/openid-connect"
  internalUrlPrefix: "http://keycloak.keycloak.svc.cluster.local/auth/realms/charlie/protocol/openid-connect"
ingress:
  hostname: localhost
  paths:
    - path: /charlie/(v1/attachment(/.*)?)
      pathType: Prefix
    - path: /charlie/(v1/demandA(/.*)?)
      pathType: Prefix
    - path: /charlie/(v1/demandB(/.*)?)
      pathType: Prefix
    - path: /charlie/(v1/match2(/.*)?)
      pathType: Prefix
    - path: /charlie/(v1/transaction(/.*)?)
      pathType: Prefix
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$1
node:
  enabled: false
postgresql:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      namespace: monitoring
      relabelings:
        - action: replace
          sourceLabels: [namespace]
          targetLabel: kubernetes_namespace
