node:
  chain: local
  role: validator
  dataVolumeSize: 1Gi
  customNodeKey: "0000000000000000000000000000000000000000000000000000000000000003"
  perNodeServices:
    setPublicAddressToExternal:
      enabled: false
  flags:
    - "--rpc-external"
    - "--rpc-methods=Unsafe"
    - "--rpc-cors=all"
    - "--unsafe-rpc-external"
    - "--charlie"
    - "--prometheus-external"
    - "--bootnodes '/dns4/alice-node-sqnc-node-0-rc-p2p.alice.svc.cluster.local/tcp/30333/p2p/12D3KooWEyoppNCUx8Yx66oV9fJnriXwCcXwDDUA2kj6vnc6iDEp'"
  serviceMonitor:
    enabled: true
    namespace: monitoring
storageClass: standard
