logLevel: trace
externalSqncNode:
  host: blue-node-sqnc-node-0
  port: 9944
externalSqncIpfs:
  host: ipfs-order-sqnc-ipfs-api
  port: 5001
externalSqncIdentity:
  host: order-identity-service-sqnc-identity-service
  port: 3000
auth:
  clientId: 'l3'
  publicUrlPrefix: "https://auth.dsch-l3.com/realms/order/protocol/openid-connect"
  internalUrlPrefix: "http://keycloak.keycloak.svc.cluster.local/realms/order/protocol/openid-connect"
ingress:
  enabled: true
  ingressClassName: nginx-order
  hostname: order.dsch-l3.com
node:
  enabled: false
postgresql:
  primary:
    persistence:
      storageClass: managed-csi-premium
      size: 15Gi
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      namespace: order
      relabelings:
        - action: replace
          sourceLabels: [namespace]
          targetLabel: kubernetes_namespace
image:
  tag: "v3.0.81"
